# ignore pychache
__pycache__/*
*.pyc
build/
dist/
finished_sims.csv
*.ipynb
Untitled*

/notebooks/*
/notebooks/*
.ipynb_checkpoints
.idea*
.eggs/*
optism_esm_tools.egg-info/*
*.png
.hypothesis
.coverage
optim_esm_tools/optim_esm_tools.egg-info
*.egg-info
cmip/data*
